<ion-view title="Login">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Instogrom
      </div>
      <div class="item item-text-wrap">
        Instogrom is a social network which allows users to share their best moments by photos.
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Sign In
      </div>

      <div class="item item-text-wrap">

        <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="user.username">
        </label>

        <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="user.password">
        </label>

        <br/>

        <div class="button-bar">
          <button class="button button-positive" ng-click="login()">Sign In</button>
          <button class="button button-assertive" ng-click="register()">Sign Up</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
