<ion-view view-title="Activity">
  <ion-content>
    <ion-refresher on-refresh="refresh()"></ion-refresher>
    <div class="list">

        <div class="item item-avatar item-activity" ng-repeat="activity in activities">
          <img ng-src="{{activity.actor.avatar}}">
          <h2>{{activity.actor.username}}</h2>
          <p>{{getMessage(activity)}}</p>
          <img ng-show="!!activity.post" ng-src="{{activity.post.url}}">
        </div>

    </div>
  </ion-content>
</ion-view>
