<ion-view view-title="Profile">
  <ion-nav-buttons side="secondary">
    <button ng-hide="notCurrentUser" class="button ion-log-out" ng-click="signOut()">
    Sign out
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher on-refresh="refresh()"></ion-refresher>
    <div class="list profile">
        <div class="item item-thumbnail-left">
            <img ng-click="changeAvatar()" ng-src="{{profile.avatar}}">
            <h2>{{profile.username}}</h2>
            <button ng-click="toggleFollow(profile._id)" ng-show="notCurrentUser" ng-class="{'button-balanced':isFollowing(profile._id)}" class="button button-block follow">{{ isFollowing(profile._id) ? "Following" : "Follow" }}</button>
            <p class="info">
                <a class="button button-small button-clear icon-left ion-image">{{profile.postCount}} posts</a>
                <a href="#/tab/{{prefix}}follower/{{profile._id}}" class="button button-small button-clear icon-left ion-person-stalker">{{profile.followerCount}} followers</a>
                <a href="#/tab/{{prefix}}followee/{{profile._id}}" class="button button-small button-clear icon-left ion-person">{{profile.followeeCount}} following</a>
            </p>
        </div>
    </div>

    <div class="list card" ng-repeat="item in gallery">

      <div class="item item-avatar">
        <img ng-src="{{ item.user.avatar }}">
        <h2>{{ item.user.username }}</h2>
        <p><time am-time-ago="item.createdAt"></time></p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="{{ item.url }}">
        <p>
          {{ item.description }}
        </p>
        <p>
          <a class="subdued">{{ item.likeCount }} {{ item.likeCount > 1 ? "Likes" : "Like" }}</a>
          <a class="subdued">{{ item.commentCount }} {{ item.commentCount > 1 ? "Comments" : "Comment" }}</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="like(item._id)" ng-class="{'is-liked': checkLiked(item._id)}">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#/tab/{{prefix}}comment/{{ item._id }}">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
