<ion-view view-title="News Feed">
  <ion-content on-refresh="">
    <ion-refresher on-refresh="refresh()"></ion-refresher>
    <div class="list card" ng-repeat="item in newfeeds">

      <div class="item item-avatar">
        <img ng-src="{{ item.user.avatar }}">
        <a href="#/tab/home-profile/{{item.user._id}}"><h2>{{ item.user.username }}</h2></a>
        <p><time am-time-ago="item.createdAt"></time></p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="{{ item.url }}">
        <p>
          {{ item.description }}
        </p>
        <p>
          <a class="subdued">{{ item.likeCount }} {{ item.likeCount > 1 ? "Likes" : "Like" }}</a>
          <a class="subdued">{{ item.commentCount }} {{ item.commentCount > 1 ? "Comments" : "Comment" }}</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="like(item._id)" ng-class="{'is-liked': checkLiked(item._id)}">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#/tab/home-comment/{{ item._id }}">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
