<ion-view title="Search User">
  <ion-content>
    <div class="list profile">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Search User" ng-model="search.searchKey">
        </label>
        <button class="button button-small" ng-click="searchUser()">
          Search
        </button>
      </div>

        <div class="item item-thumbnail-left" ng-repeat="profile in users">
            <img ng-src="{{profile.avatar}}">
            <a href="#/tab/discover-profile/{{profile._id}}"><h2>{{profile.username}}</h2></a>
            <button ng-click="toggleFollow(profile._id)" ng-show="notCurrentUser(profile._id)" ng-class="{'button-balanced':isFollowing(profile._id)}" class="button button-block follow">{{ isFollowing(profile._id) ? "Following" : "Follow" }}</button>
            <p class="info">
                <a class="button button-small button-clear icon-left ion-image">{{profile.postCount}} posts</a>
                <a class="button button-small button-clear icon-left ion-person-stalker">{{profile.followerCount}} followers</a>
                <a class="button button-small button-clear icon-left ion-person">{{profile.followeeCount}} following</a>
            </p>
        </div>
    </div>
  </ion-content>
</ion-view>
