<ion-view title="Comment">
  <ion-content>
    <div class="list">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Comment" ng-model="comment.description">
        </label>
        <button class="button button-small" ng-click="postComment()">
          Submit
        </button>
      </div>

    </div>

    <div class="list">

      <div class="item item-avatar item-comment" ng-repeat="comment in comments">
        <img ng-src="{{ comment.user.avatar }}">
        <h2>{{ comment.user.username }}</h2>
        <p>{{ comment.description }}</p>
        <p><small><time am-time-ago="comment.createdAt"></time></small></p>
      </div>

    </div>
  </ion-content>
</ion-view>
