/* Empty. Add your own CSS if you like */

.discover-gallery {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.discover-gallery img {
    width: 100%;
    height: auto;
}

.item-comment p {
    white-space: initial;
}

.item-avatar a {
    text-decoration: none;
}

.is-liked {
    color: #5566ff !important;
}

.profile h2 {
    font-size: 1.2em;
    margin: 0;
    /*padding-top: 10px;*/
    padding-left: 6px;
}

.profile .follow {
    margin-top: 6px;
    margin-bottom: 6px;
    min-height: 24px;
    line-height: 24px;
}

.profile .info {
    margin: 6px 0;
}

.profile a {
    text-decoration: none;
}

.item-activity {
    padding-right: 72px;
}

.item-activity img:last-child {
    position: absolute;
    top: 16px;
    right: 16px;
    max-height: 40px;
    width: auto;
    height: 100%;
    border: solid 1px rgba(0,0,0,1);
}

.pick-image img {
    width: 100%;
    height: auto;
}
